<main>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" routerLink="/"><h3>My Store Application</h3></a>
    </div>
    <div class="container-fluid justify-content-center">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link active link-light"
            aria-current="page"
            routerLink="/products"
            >
            <h4>Product List</h4>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" routerLink="/cart"><h4>Cart</h4></a>
        </li>
      </ul>
    </div>
  </nav>
</main>
